<h1>Famílias</h1>

<div>
  <% form_tag :action => :search do %>
    Sobrenome: <%= text_field_tag :name, nil, :style => 'margin-right:2em' %>
    Armorial: <%= select_tag :armorial_id, options_from_collection_for_select(@armorials, :id, :name) %>
    <%= submit_tag "pesquisar"  %>
  <% end %>
</div>

<table class="list">
  <tr>
    <th>Nome</th>
    <th>Variações</th>
    <th>Historico</th>
    <th>Armorial</th>
    <th>Linhagem</th>
  </tr>

<% @families.each do |f| %>
  <tr>
    <td><%= h f.name %></td>
    <td><%= h f.variatons %></td>
    <td><%= yes_no f.history %></td>
    <td><%= h f.armorial.name %></td>
    <td><%= h f.armorial.line %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @families %>