<h1>Atualizar Cometário</h1>

<% form_for :comment, @comment, :url => admin_comment_path(@comment), :html => {:method => :put} do |f| %>
  <p>
    <%=f.label :name, "Nome:" %><br/>
    <%=f.text_field :name %>
  </p>
  <p>
    <%=f.label :email, "Email:" %><br/>
    <%=f.text_field :email %>
  </p>
  <p>
    <%=f.label :rate, "Nota:" %><br/>
    <%=f.text_field :rate %>
  </p>
  <p>
    <%=f.label :resume, "Resumo:" %><br/>
    <%=f.text_area :resume %>
  </p>
  <p>
    <%=f.label :resume_en, "Resumo Inglês:" %><br/>
    <%=f.text_area :resume_en %>
  </p>
  <p>
    <%=f.label :message, "Mensagem:" %><br/>
    <%=f.text_area :message %>
  </p>
  <p>
    <%=f.label :message_en, "Mensagem Inglês:" %><br/>
    <%=f.text_area :message_en %>
  </p>
  <p> 
    <%=f.label :approved, "Aprovado:" %><br/>
    <%= f.radio_button :approved, :true %>Sim
	<%= f.radio_button :approved, :false %>Não
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Voltar', admin_comments_path %>