<b>Nome:</b>
<%=h @comment.name %>
<br/>

<b>Email:</b>
<%=h @comment.email %>
<br/>

<b>Nota:</b>
<%=h @comment.rate %>

<p>
  <b>Aprovado:</b><br/>
  <%=h @comment.approved? %>
</p>

<p>
  <b>Resumo:</b><br/>
  <%=h @comment.resume %>
</p>

<p>
  <b>Mensagem:</b><br/>
  <%=h @comment.message %>
</p>

<%= link_to 'Editar', edit_admin_comment_path(@comment) %> |
<%= link_to 'Voltar', admin_comments_path %>