<table style="width: 620px;margin-bottom: 2em">
	<tr>
		<td>
			<blockquote>
				"<%=comment.message%>"
			</blockquote>
			<div class="star star-<%=comment.rate%>">&nbsp;</div>
			<div style="text-align:right">
				&mdash; <%= comment.name %> <%= "(#{comment.place})" if comment.place && !comment.place.empty? %>, 
				sobre 
				<%= link_to(comment.product.name, brasao_url(comment.product)) if comment.product.class.to_s == 'Model'  %>
				<%= link_to(comment.product.name, souvenir_url(comment.product)) if comment.product.class.to_s == 'Souvenir'  %>
			</div>			
		</td>
		<td style="width: 110px; vertical-align: top; text-align: right">
			<img src="<%= img_url(comment.product.main_photo, :t) %> " alt="<%= comment.product.localized_name %>" title="<%= comment.product.localized_name %>"/>
		</td>
	</tr>
</table>