<div style="text-align:left">  
  <h3 style="margin-bottom:5px;"><%= t :'.title'%>: <%= @comment.product.localized_name %></h3>
  <div id="comment-error" class="modal-error">&nbsp;</div>
  <% remote_form_for @comment do |f| %>
    <%= f.hidden_field :product_id %>

    <div style="float:left;">
      <b><%= t :'comments.name' %>:</b><br/>
      <%= f.text_field :name, :style => "width:310px" %>
    </div>
    <div style="margin-left: 320px">
      <b><%= t :'comments.mail' %>:</b><br/>
      <%= f.text_field :email, :style => "width:240px" %>
    </div>

    <div id="place" style="margin:15px 0">
      <b><%= t :'comments.place' %></b><br/>
	  <%= f.text_field :place, :style => "width:310px" %>
	  <span style="font-size: 85%; padding-left: 5px; font-style: italic;"><%= t :'comments.place_sample'%></span>
    </div>

    <div id="rate" style="margin:15px 0">
      <b><%= t :'.rate_title' %>:</b><br/>
      <% names = [[t(:'comments.rate.r1'),1], [t(:'comments.rate.r2'),2], [t(:'comments.rate.r3'),3], [t(:'comments.rate.r4'),4], [t(:'comments.rate.r5'),5]] %>
      <%= f.select :rate, names %>
    </div>

    <div style="clear:both;margin-top:40px">
      <b><%= t :'comments.message' %>:</b><br/>
      <%= f.text_area :message, :style => "width:100%;height:140px" %>
    </div>

    <div style="text-align:right; ">
      <%= submit_tag t(:'send') %> <%= t :or %> <a href="" onclick="$('#product-comment-modal').dialog('close'); return false;"><%= t :'cancel' %></a>
    </div>
  <% end %>
</div>
<script>$(function() {
  $(function() {
	  var rateDesc = $("<div style='float:left;margin:5px 10px'>&nbsp;</div>");
	  $("#rate").stars({inputType: "select",cancelShow: false, captionEl:rateDesc});
	  $('#rate').append(rateDesc);
  });
});</script>