<div id="modal_brasao" class="modal" style="display:none">
  <div style="height:500px; overflow:auto;padding-right:2em;">
    <div style="text-align:left">
		<h3> <%= t :'.title' %> </h3>
	</div>

    <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
		<%= t :'.p1' %>
    </p>
    <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
		<%= t :'.p2' %>
    </p>
    <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
		<%= t :'.p3' %>
    </p>
    <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
		<%= t :'.p4' %>
    </p>
    <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
		<%= t :'.p5' %>
    </p>
    <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
		<%= t :'.p6' %>
    </p>
    <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
		<%= t :'.p7' %>
    </p>

    <div style="text-align:left">
		<h6><%= t :'.family.title' %>:</h6>
	</div>
    <img src="/images/brasao.jpg" width="150" style="float:right;margin-left:1em"/>
    <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
		<%= t :'.family.p1' %>
    </p>
    <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
		<%= t :'.family.p2' %>
    </p>
    <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
		<%= t :'.family.p3' %>
    </p>
    <p style="font-size: 90%; text-align:left">
		<%= t :'.source' %>
    </p>
  </div>

  <center>
    <a href="" onclick="$('#modal_brasao').dialog('close'); return false;">
      <img src="<%= t :img %>fechar.gif" alt="fechar"/>
    </a>
  </center>
</div>