<div id="modal_heraldica" class="modal" style="display:none">
  <div style="text-align:left"><h3>	<%= t :'.title' %></h3></div>

  <p style="font-size: 110%; margin-top:8px; margin-bottom:1em; text-align:justify">
	<%= t :'.p1' %>
  </p>
  <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
	<%= t :'.p2' %>
  </p>
  <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
	<%= t :'.p3' %>
  </p>
  <p style="font-size: 90%; text-align:left">
	<%= t :'.source' %>
  </p>

  <center>
    <a href="" onclick="$('#modal_heraldica').dialog('close'); return false;">
      <img src="<%= t :img %>fechar.gif" alt="fechar"/>
    </a>
  </center>
</div>