<div id="modal_como_descobrimos" class="modal" style="display:none">
  <div style="height:500px; overflow:auto;padding-right:2em;">
    <div style="text-align:left">
		<h3><%= t :'.title' %></h3>
	</div>

    <p style="font-size: 100%; margin-bottom:20px; text-align:left">
		<%= t :'.p1' %>
    </p>
    <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
		<%= t :'.p2' %>
    </p>
    <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
		<%= t :'.p3' %>
    </p>
    <div style="text-align:left"><b><%= t :'.sample' %>:</b></div>
    <center><img src="/images/pagina.jpg" /></center>
  </div>
  
  <center>
    <a href="" onclick="$('#modal_como_descobrimos').dialog('close'); return false;">
      <img src="<%= t :img %>fechar.gif" alt="fechar"/>
    </a>
  </center>
</div>