<style>
  .surname-find a {text-decoration:none;color: #DFDFDF;font-size:95%}
  .surname-find a:HOVER {text-decoration:underline;color: #DFDFDF;font-size:95%}
</style>
<div class="surname-find">
  <% form_remote_tag :url => {:controller => :brasoes, :action => :find} do %>
    <input type="text" class="text" id="surname_search" name="surname" title="<%= t :'.digit_your_surname' %>"/>
    <span class="search-img">
      <%= image_submit_tag 'seta_direita.png', :id => 'surname_submit' %>
    </span>
    <div style="text-align:right; float:left;width:340px;padding-top:0.5em;">
      <a href="" onclick="return openModal('modal_como_pesquisar',450);"><%= t :'.how_to_research' %></a><br/>
      <a href="" onclick="return openModal('modal_como_descobrimos',500);"><%= t :'.how_we_found' %></a>
    </div>
  <% end %>
</div>

<%= render :partial => 'brasoes/how_to_research' %>
<%= render :partial => 'brasoes/how_is_found' %>