<% content_for :title do %>
  | <%=  t :'brasoes.title' %>
<% end %>
<% content_for :description do %>
  <%=  h(t :'.text') %>. 
<% end %>
<% content_for :context_height do %>
  2300px
<% end %>

<div id="inner-context">
  <div style="margin-right:30px">
    <img src="<%=t(:'img')%>brasoes.gif" alt="Brasoes de Familia" title="Brasões de Família" />
    <p style="font-size: 130%; margin-top:8px; margin-bottom:1em;">
      <%= t :'.text' %>
    </p>
    <p style="font-size: 110%; margin-bottom:15px; text-align:center">
      <!--Foram muito usados nos escudos dos cavaleiros em batalhas ou em torneios, sendo muitas vezes a única forma de reconhecer quem estava debaixo da pesada armadura.-->
      <img src="<%=t(:'img')%>saibamaissobre.gif" style="vertical-align:bottom;"/>
      <a href="" onclick="return openModal('modal_heraldica',500);"><%= t :'.more.heraldry' %></a> |
      <a href="" onclick="return openModal('modal_brasao',500);"><%= t :'.more.coat_of_arms' %></a> |
      <a href="" onclick="return openModal('modal_arauto',500);"><%= t :'.more.heralds' %></a> |
      <a href='' onclick="return openModal('modal_como_descobrimos',500);"><%= t :'.more.how_is_found' %></a> |
      <a href="" onclick="return openModal('modal_gguzenski',500);"><%= t :'.more.who_creates' %></a>
    </p>

      <p style="text-align:center; font-size: 110%; font-family: Arial, Helvetica, sans">
		<%= link_to t(:client_comments), comments_url(:path => brasoes_path) %>
	  </p>    

  </div>
  
  <ul class="list">
    <% for m in @models %>
      <li>
        <% link_to brasao_path(m) do %>
          <div class="list-box">
            <img src="<%= img_url(m.main_photo, :m) %> " height="140" alt="<%= m.localized_name %>" title="<%= m.localized_name %>"/>
            <p class="title"><%= m.localized_name %></p>
			<% if m.sizes.empty? %>
            	<span class="price"><%= t :'.price_on_request' %></span>
			<% else %>
				<span class="small"><%= t :'.starting_at' %> </span><span class="price"><%= min_value(m) %></span>
			<% end %>
			<br/>
            <span class="small link"><%= t :'.info' %></span>
          </div>
        <% end %>
      </li>
    <% end  %>
  </ul>

  <%= will_paginate @models %>

  <div style="float:left; margin:20px 30px 30px 0; padding:20px 20px; background-color:#F0F0F0; border:1px solid #E7E6E1">
	<div style="clear:both;margin-bottom:5px">
		<%= render :partial => "/home/military" %>
	</div>
  </div>


  <%= render :partial => 'heraldry' %>
  <%= render :partial => 'coat_of_arms' %>
  <%= render :partial => 'heralds' %>
  <%= render :partial => 'home/gguzenski' %>  
</div>