<% form_tag "https://pagseguro.uol.com.br/checkout/checkout.jhtml", :encoding => "ISO-8859-1", :method => :post do %>
  <input type="hidden" name="email_cobranca" value="max@guzenski.com.br" />
  <input type="hidden" name="tipo" value="CP"/>
  <input type="hidden" name="moeda" value="BRL"/>
  <input type="hidden" name="tipo_frete" value="EN"/>
  <input type="hidden" name="ref_transacao" value="<%= @order.id %>"/>

  <% frac_shipping = (@order.shipping || 0).reais.parcelar(@order.order_items.size)  %>
  <% @order.order_items.each_with_index do |i, idx| %>
    <input type="hidden" name="item_id_<%=idx+1%>"    value="<%= i.product.id %>"/>
    <input type="hidden" name="item_descr_<%=idx+1%>" value="<%= i.product.name %>"/>
    <input type="hidden" name="item_quant_<%=idx+1%>" value="<%= i.item_count %>"/>
    <input type="hidden" name="item_valor_<%=idx+1%>" value="<%= pagseguro_price (i.value / i.item_count) %>"/>
    <input type="hidden" name="item_frete_<%=idx+1%>" value="<%= pagseguro_price (frac_shipping[idx].to_f / i.item_count) %>"/>
  <% end %>

  <input type="hidden" name="cliente_nome"  value="<%= @order.client.name %>"/>
  <input type="hidden" name="cliente_cep"   value="<%= pagseguro_zipcode @order.client.addresses.first.zip_code %>"/>
  <input type="hidden" name="cliente_end"   value="<%= @order.client.addresses.first.street %>"/>
  <input type="hidden" name="cliente_num"   value="<%= @order.client.addresses.first.number %>"/>
  <input type="hidden" name="cliente_compl"  value="<%= @order.client.addresses.first.complement %>"/>
  <input type="hidden" name="cliente_bairro" value="<%= @order.client.addresses.first.neighborhood %>"/>
  <input type="hidden" name="cliente_cidade" value="<%= @order.client.addresses.first.city %>"/>
  <input type="hidden" name="cliente_uf"    value="<%= @order.client.addresses.first.country_state %>"/>
  <input type="hidden" name="cliente_pais"  value="BRA"/>
  <input type="hidden" name="cliente_ddd"   value="<%= @order.client.phone_ddd %>"/>
  <input type="hidden" name="cliente_tel"   value="<%= @order.client.phone_number %>"/>
  <input type="hidden" name="cliente_email" value="<%= @order.client.user.email %>"/>

  <div style="float:left; padding-top:5px">
  	<%= back_to_store_link %>
  </div>
  <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-pagar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
<% end %>