<% content_for :context_height do %>
  1100px
<% end %>

<div id="inner-context">
  <div style="margin-right:30px">
    <img src="<%= t :img %>meu_carrinho.gif" alt="Meu carrinho" title="Meu carrinho" />
	<%= render(:partial => 'client', :locals => {:client => @order.client}) if @order.client %>    
    <%= render :partial => 'cart' %>

    <div style="text-align:right;margin-top:30px">
      <%= render(:partial => 'pagseguro') if @order.client %>
	  <% unless @order.client %>
		<%= back_to_store_link %>
		<%= continue_link %>
	  <% end %>
    </div>

    <div style="margin-top:5em">
      <h3 style="padding-bottom:5px; margin-bottom:5px; border-bottom:1px dotted #000000">Formas de pagamento</h3>
      <!-- INICIO CODIGO PAGSEGURO -->
      <CENTER>
      <IMG src="https://pagseguro.uol.com.br/Imagens/Banners/btnPreferenciaCartoesBR_665x55.gif" title="Este site aceita pagamentos com Visa, MasterCard, Diners, American Express, Hipercard, Aura, Bradesco, Itaú, Unibanco, Banco do Brasil, Banco Real, saldo em conta PagSeguro e boleto." border="0">
      </CENTER>
      <!-- FINAL CODIGO PAGSEGURO -->
    </div>

  </div>
</div>


