<% content_for :context_height do %>
  1300px
<% end %>

<div id="inner-context">
  <div style="margin-right:30px">
    <div>
    <% link_to home_path, :style => 'text-decoration:none;' do %>
      <img src="<%= t :img %>themuseum.gif" alt="Comentários" style="vertical-align:middle;float:left; margin-right:0.5em"/>
    <% end %>
      <div style="padding-top:8px;font-weight:bold;"> &gt;&gt; <%= t :'museum_comments.index.title' %> </div>
    </div>

	<div style="margin:20px 60px">
		<div style="text-align:right; margin-bottom: 20px; font-size: 110%">
			<%= link_to_remote t(:'museum_comments.link.tell_us'), :url => new_museum_comment_path, :method => :get %>
		</div>
		<% @comments.each do |comment| %>
			<% if comment.class == MuseumComment %>
				<%= render :partial => "museum_comments/comment", :locals => {:comment => comment}  %>		
			<% else %>
				<%= render :partial => "product_comments/comment", :locals => {:comment => comment}  %>		
			<% end %>
		<% end %>
	</div>
	
	<%= will_paginate @comments %>
	<div class="more" style="text-align:center;font-size:120%;padding-top:50px">
		<% link_to (params[:path] || home_path) do %>
			<img src="<%= t :img %>voltar.gif" alt="voltar" title="voltar"/>
		<% end%>		
	</div>
  </div>
</div>