<% content_for :title do %>
  | <%= t :'cutlers.title'%> | <%= t :'.title'%> <%= @cutler.name %>
<% end %>
<% content_for :description do %>
  <%= "#{h @cutler.name}: #{h @cutler.localized_description}" %>. 
<% end %>

<% content_for :javascript do %>
  $('a.thumb_link').click(function() {
    return changeImage($('#main_photo'), $(this).find('img'));
  });
<% end %>

<div id="inner-context">
  <div style="margin-right:30px">
    <div>
      <% link_to cutlers_path do %>
        <img src="<%=t :img %>cutelaria.gif" alt="Cutelaria" title="Cutelaria" style="float:left; margin-right:0.5em"/>
      <% end %>
      <div style="padding-top:10px;font-weight:bold;"> &gt;&gt; <%= @cutler.name  %> </div>
    </div>
      
    <div style="text-align: center; margin: 3em 0; padding:0 50px">
      <table style="width:640px">
        <tr>
          <td style="width:100%;text-align:center;padding:0">
            <div id="main_photo" style="text-align:center; height:380px;overflow:hidden">
              <img id="main_photo" src="<%= img_url(@cutler.second_photo) %>" alt="<%= @cutler.name %>" title="<%= @cutler.name %>">
            </div>
          </td>
          <% if @cutler.photos.size > 1 %>
            <td style="vertical-align:top">
              <% for photo in @cutler.photos  %>
                <a href="#" class="thumb_link" style="text-decoration:none">
                  <img src="<%= img_url(photo, :s)  %>" class="thumb" rel="<%= img_url(photo)  %>" alt="" style="margin-bottom:5px"/><br/>
                </a>
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>

    <div style="margin:0 30px;">        
        <div class="produto_desc" style="margin-bottom:2em;">
          <h3><%= @cutler.name %></h3>
          <p>
            <%= @cutler.localized_description %>
          </p>
        </div>

        <div style="margin-left:400px; text-align:left; margin-bottom:2em;">
          <div style="margin-bottom:3em; padding: 10px 0px 10px 20px;background-color:#F6F6F6">
              <h3><%=t :'.contact'%>:</h3>
              <strong><%=t :'.place'%>:</strong> <%= @cutler.place %><br/>
              <% unless @cutler.site.nil? %>
                <strong><%=t :'.site'%>:</strong> <a href="<%=@cutler.site%>" target="_blank"><%= @cutler.site  %></a><br/>
              <% end %>
              <% unless @cutler.email.nil? %>
                <strong><%=t :'.email'%>:</strong> <a href="mailto:<%=@cutler.email%>"><%= @cutler.email  %></a><br/>
              <% end %>
              <% unless @cutler.phone.nil? %>
                <strong><%=t :'.phone'%>:</strong> <%= @cutler.phone  %> <br/>
              <% end %>
          </div>
      </div>

      <div style="text-align:center; clear:both;display:block">
        <% link_to cutlers_path do %>
          <img src="<%=t :img %>voltar.gif" alt="voltar"/>
        <% end %>
      </div>

    </div>
  </div>
</div>