<h1>Modelos de brasões</h1>

<table class="list">
  <tr>
    <th>Foto</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Prazo</th>
    <th>Junção</th>
    <th></th>
    <th></th>
  </tr>
  <tbody id="models">	
	<% @models.each do |model| %>
	  <tr id="model_<%=model.id%>">
	    <td><img src="<%= img_url(model.main_photo, :s) %>" alt="<%= model.name %>"/></td>
	    <td><%= h model.name %></td>
	    <td><%= h model.description %></td>
	    <td><%= h model.delivery %></td>
	    <td><%= yes_no model.junction %></td>
	    <td><%= link_to 'Ver', admin_model_path(model) %></td>
	    <td><%= link_to 'Editar', edit_admin_model_path(model) %></td>
	  </tr>
	<% end %>
  </tbody>
</table>

<%= sortable_element('models', :url => {:action => :update_order}) %>
<br />

<%= link_to 'cadastrar novo modelo', new_admin_model_path %>