<img src="<%= img_url(@model.main_photo, :m) %>" alt="<%= @model.name %>"/>
<br/><br/>
<p>
  <b>Nome:</b>
  <%=h @model.name %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @model.description %>
</p>

<p>
  <b>Prazo:</b>
  <%=h @model.delivery %>
</p>

<p>
  <b>Junção:</b>
  <%=h @model.junction %>
</p>

<p>
  <% @model.sizes.each do |s| %>
    <b>Largura: </b><%=h s.width %>
    <b> Altura: </b><%=h s.height %>
    <b> Diametro: </b><%=h s.diameter %>
    <b> Peso (kg): </b><%=h s.weight %>
    <b> Valor: </b> R$<%=h s.value %>
    <br/>
  <% end %>
</p>

<%= link_to 'Editar', edit_admin_model_path(@model) %> |
<%= link_to 'Voltar', admin_models_path %>