<h1>Famílias mais pesquisadas</h1>

<p>
  <b>Total de sobrenomes distintos pesquisados:</b> <%= @total_surnames %><br/>
  <b>Total de pesquisas:</b> <%= @total_searches %>
</p>

<table class="list">
  <tr>
    <th>Nome</th>
    <th>Vezes pesquisada</th>
  </tr>

<% @family_searches.each do |fs| %>
  <tr>
    <td><%= h fs.name %></td>
    <td><%= h fs.search_count %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @family_searches %>