<h1>Cutelerios</h1>

<%= flash[:notice] %>

<table class="list" style="margin-bottom:0">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>
  <tbody id="souvenirs">
    <% @cutlers.each do |s| %>
    <tr id="souvenir_<%=s.id%>" >
      <td style="width:5px"><img src="<%= img_url(s.main_photo, :s) %>" alt="<%= s.name %>"/></td>
      <td style="width:150px"><%= h s.name %></td>
      <td><%= h s.description %></td>
      <td style="width:20px"><%= link_to 'Ver', admin_cutler_path(s) %></td>
      <td style="width:20px"><%= link_to 'Editar', edit_admin_cutler_path(s) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
