<% content_for :title do %>
  Cliente
<% end %>
<% content_for :javascript do %>
	$(function() { 
		$('.country_state').val('<%=@client.addresses.first.country_state%>'); 
	});
<% end %>


<div id="inner-context">
  <div style="margin-right:30px">
    <div style="margin-bottom:40px;">
      <img src="<%= t :img %>meu_pedido.gif" alt="Meu Pedido" style="vertical-align:middle;float:left; margin-right:0.5em"/>
      <div style="padding-top:8px;font-weight:bold;"> &gt;&gt; cadastro de cliente </div>
    </div>

    <div id="cadastro_box" class="client-box">
      <% form_for @client do |f|  %>
        <table>
          <tr>
            <td class="label"><%= f.label :name, "Nome Completo:"  %></td>
            <td>
              <%= f.text_field :name, :class => 'text' %>
              <%= f.error_message_on :name, :prepend_text => "nome " %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= f.label :genrer, "Sexo:"  %></td>
            <td>
              <%= f.select :genrer, [['Masculino', 'M'], ['Feminino', 'F']], {}, {:class => 'text'} %>
              <%= f.error_message_on :genrer %>
            </td>
          </tr>

          <tr>
            <td class="label"><%= f.label :phone_ddd, "Telefone de contato:"  %></td>
            <td>
              <%= f.text_field :phone_ddd, :maxlength => 3, :class => 'text', :style => 'width:30px' %> -
              <%= f.text_field :phone_number, :maxlength => 10, :class => 'text', :style => 'width:80px' %>
              <%= f.error_message_on :phone_ddd %> <%= f.error_message_on :phone_number %>
            </td>
          </tr>
          <tr>
            <td class="subtitle" colspan="2">Meu endereço residencial</td>
          </tr>
          <% f.fields_for :addresses do |a| %>
            <tr>
              <td class="label"><%= a.label :street, "Logradouro:"  %></td>
              <td><%= a.text_field :street, :class => 'text' %>  <%= a.error_message_on :street, :prepend_text => "logradouro " %></td>
            </tr>
            <tr>
              <td class="label"><%= a.label :number, "Número:"  %></td>
              <td><%= a.text_field :number, :class => 'text', :style => 'width:80px' %>  <%= a.error_message_on :number, :prepend_text => "número " %></td>
            </tr>
            <tr>
              <td class="label"><%= a.label :complement, "Complemento:"  %></td>
              <td><%= a.text_field :complement, :class => 'text' %>  <%= a.error_message_on :complement, :prepend_text => "complemento " %></td>
            </tr>
            <tr>
              <td class="label"><%= a.label :neighborhood, "Bairro:"  %></td>
              <td><%= a.text_field :neighborhood, :class => 'text' %>  <%= a.error_message_on :neighborhood, :prepend_text => "bairro " %></td>
            </tr>
            <tr>
              <td class="label"><%= a.label :city, "Cidade:"  %></td>
              <td><%= a.text_field :city, :class => 'text' %>  <%= a.error_message_on :city, :prepend_text => "cidade " %></td>
            </tr>
            <tr>
              <td class="label"><%= a.label :country_state, "Estado:"  %></td>
              <td>
                <%= a.select :country_state, option_uf_for_select, {}, {:class => 'text country_state'} %>
              </td>
            </tr>
            <tr>
              <td class="label"><%= a.label :zip_code, "CEP:"  %></td>
              <td>
                  <%= a.text_field :zip_code, :maxlength => 10, :class => 'text', :style => 'width:80px' %>
                  <%= a.error_message_on :zip_code, :prepend_text => "CEP " %>
              </td>
            </tr>

          <% end %>
          <% if @client.new_record? %>
            <tr>
             <td class="subtitle" colspan="2">Minha identificação</td>
            </tr>
            <% f.fields_for :user do |u| %>
              <tr>
                <td class="label"><%= u.label :email, "E-mail:"  %></td>
                <td><%= u.text_field :email, :class => 'text' %>  <%= u.error_message_on :email, :prepend_text => "e-mail " %></td>
              </tr>
              <tr>
                <td class="label"><%= u.label :password, "Senha:"  %></td>
                <td><%= u.password_field :password, :class => 'text' %>  <%= u.error_message_on :password, :prepend_text => "senha " %></td>
              </tr>
              <tr>
                <td class="label"><%= u.label :password_confirmation, "Confirme sua senha:"  %></td>
                <td><%= u.password_field :password_confirmation, :class => 'text' %>  <%= u.error_message_on :password_confirmation %></td>
              </tr>
            <% end %>
          <% end %>

        </table>
        <div class="buttons">
          <%= submit_tag "continuar"%>
        </div>
      <% end %>
    </div>

  </div>
</div>