<% content_for :context_height do %>
  1620px
<% end %>
<% content_for :javascript do %>
	$(function() {
		loadFromFlicker( $('#flickr'), 'castelo', 16);
	});
<% end %>
  
<div style="padding:30px 60px">
  <div style="clear:both">
    <!--div style="margin-left:365px; text-align:right"-->
    <div style="width:340px; float:right; text-align:right">
      <object width="320" height="265"><param name="movie" value="http://www.youtube.com/v/L5XunflPHhg&hl=pt-br&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/L5XunflPHhg&hl=pt-br&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="265" wmode="transparent"></embed></object>
    </div>

    <!--div style="width:355px; float:left; text-align:justify"-->
    <div style="margin-right:350px; text-align:justify">
      <img src="<%=t :img %>themuseum.gif" alt="O Museu" title="O Museu" />
      <p style="font-size: 130%; margin-top:8px; margin-bottom:1em;">
        <%= t :'.museum.title' %>
      </p>
      <p style="font-size: 110%; margin-bottom:20px;">
		<%= t :'.museum.subtitle', :link => '<a href="" onclick="return openModal(\'modal_gguzenski\',500);">Gilberto Guzenski</a>' %>
      </p>
      <p style="font-size: 90%; margin-top:0px; text-align:center; font-weight:bold;">
        <%= link_to t(:'.museum.get_there'), :controller => :contact, :action => :show %>
      </p>
    </div>
  </div>

  <div style="padding:30px 90px 0px 90px">
	<% @comments.each do |comment| %>
		<%= render :partial => "museum_comments/comment", :locals => {:comment => comment}  %>		
	<% end %>

	<div class="more" style="text-align:center;margin-top:-1em">
		<img src="/images/seta_direita_p.gif" style="vertical-align:text-top"/>
		<%= link_to_remote t(:'museum_comments.link.tell_us'), :url => new_museum_comment_path, :method => :get %>
		ou 
		<% link_to comments_path do %>
			<%= t :'.all_comments' %>
		<% end %>
	</div>
  </div>

  <div style="margin:30px 0px; padding:20px 20px; background-color:#F0F0F0; border:1px solid #E7E6E1">
	<div style="clear:both;margin-bottom:5px">
	    <div style="margin-bottom:5px">
			<span style="font-weight:bold;font-size:110%">
				<%= t :'.photos.title' %>
			</span> 
			(<a href="http://www.flickr.com/photos/maxguzenski/sets/72157620936173103/detail/" target="_blank"><%= t :'.photos.all' %></a>)
		</div>
	    <div id="flickr" class="fotos" style="text-align:center"> </div>
	</div>
  </div>

  <div>
    <div style="text-align:left; z-index:10000; float:left; width:400px; padding-right:10px;">
      <h5 style="margin-bottom:5px"><%= t :'gilberto_guzenski' %></h5>
      <img src="images/gguzenski.jpg" width="100" style="float:left; margin-right:5px" />

      <p style="font-size: 100%; margin-top:0;margin-bottom:1em; text-align:justify">
        <%= t :'home.gguzenski.about1' %>
      </p>
      <p style="font-size: 100%; margin-bottom:20px; text-align:justify">
        <%= t :'home.gguzenski.about2' %>
      </p>
      <p style="font-size: 100%; margin-bottom:5px; text-align:justify; font-weight:bold">
        <%= t :'home.gguzenski.tecnics.title' %>
      </p>
      <ul style="margin-left:130px;text-align:left">
        <li><%= t :'home.gguzenski.tecnics.tec1' %></li>
        <li><%= t :'home.gguzenski.tecnics.tec2' %></li>
        <li><%= t :'home.gguzenski.tecnics.tec3' %></li>
        <li><%= t :'home.gguzenski.tecnics.tec4' %></li>
      </ul>
    </div>

 	<div style="margin-left:425px; text-align:left; height: 300px; _height:340px">
 		<h5 style="margin-bottom:5px"><%= t :'.videos.title' %></h5>
		<div style="margin-bottom:1.5em">
			<img src="http://i.ytimg.com/vi/V3TpUAW2O80/default.jpg" style="float:left; margin-right:5px"/>
			<%= t :'.videos.first' %>
			<div class="" style="text-align:left; margin-top:3px">
				&raquo;
				<a href="http://www.youtube.com/watch?v=V3TpUAW2O80" target="_blank">
					<%= t :'.videos.watch' %>
				</a>
			</div>
		</div>
		<div>
			<img src="http://i.ytimg.com/vi/vIMDdDbLqXg/default.jpg" style="float:left; margin-right:5px"/>
			<%= t :'.videos.second' %>
			<div class="" style="text-align:left; margin-top:3px">
				&raquo; 
				<a href="http://www.youtube.com/watch?v=vIMDdDbLqXg" target="_blank">
					<%= t :'.videos.watch' %>
				</a>
			</div>
		</div>
		<div class="more" style="padding:2em 0px; text-align:center;">
			<a href="http://www.youtube.com/view_play_list?p=CFED77F644003B64" target="_blank">
				<img src="/images/seta_direita_p.gif" style="vertical-align:text-top"/>
				<%= t :'.videos.watch_all' %>
			</a>
		</div>
 	</div>
  </div>

  <div style="margin:30px 0px;">
	<div style="text-align:center; margin-bottom:30px">
		<img src="/images/sep.gif" width="50" alt=""/>
	</div>
	<%= render :partial => 'military' %>
  </div>

  <div style="margin:40px 0px; 0px 0px">
	<%= render :partial => 'school' %>
  </div>

</div>

<%= render :partial => 'gguzenski' %>