<h1>Atualizar souvenir</h1>

<% form_for [:admin, @souvenir] do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>
<br/><br/>
<% form_for [:admin, @souvenir], :method => :put do |f| %>
  <p>
    <% f.fields_for :photos do |pf| %>
      <%= pf.label :flickr_farm, "Farm:" %>
      <%= pf.text_field :flickr_farm, :size => 8 %>
      <%= pf.label :flickr_server, "Server:" %>
      <%= pf.text_field :flickr_server, :size => 8 %>
      <%= pf.label :flickr_key, "Key:" %>
      <%= pf.text_field :flickr_key, :size => 8 %>
      <%= pf.label :flickr_secret, "Secret:" %>
      <%= pf.text_field :flickr_secret, :size => 8 %>
      <%= pf.label :level, "Level:" %>
      <%= pf.text_field :level, :size => 8 %>
      <br/>
    <% end %>
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Voltar', admin_models_path %>