<h1>Souvenirs</h1>

<%= flash[:notice] %>

<div style="text-align:right; padding:0; margin-bottom:5px">
<%= link_to 'cadastrar novo souvenir', new_admin_souvenir_path %>
</div>

<table class="list" style="margin-bottom:0">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Entrega</th>
	  <th>Quantidade</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>
  <tbody id="souvenirs">
    <% @souvenirs.each do |s| %>
    <tr id="souvenir_<%=s.id%>" >
      <td style="width:5px"><img src="<%= img_url(s.main_photo, :s) %>" alt="<%= s.name %>"/></td>
      <td style="width:150px"><%= h s.name %></td>
      <td><%= h s.description %></td>
      <td style="width:10px"><%= h s.delivery %></td>
      <td style="width:10px"><%= h s.sizes.first.item_count %></td>
      <td style="width:20px"><%= link_to 'Ver', admin_souvenir_path(s) %></td>
      <td style="width:20px"><%= link_to 'Editar', edit_admin_souvenir_path(s) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= sortable_element('souvenirs', :url => {:action => :update_order}) %>
