<% content_for :context_height do %>
  1100px
<% end %>
<% content_for :title do %>
  | <%=  t :'brasoes.title' %> | <%= t :'client_searches.title' %>
<% end %>

<div id="inner-context">
  <div style="margin-right:30px">
    <div style="margin-bottom:15px;">
      <img src="<%= t :img %>brasoes.gif" alt="Brasoes" style="vertical-align:middle;float:left; margin-right:0.5em"/>
      <div style="padding-top:8px;font-weight:bold;"> &gt;&gt; <%= t :'client_searches.title' %> </div>
    </div>
    <p style="font-size: 120%; margin-top:0px; margin-bottom:2em;">
		<%= t :'.text' %>
    </p>

    <div id="cadastro_box" class="client-box" style="margin:0px 0px">
      <% form_for @client_search do |f|  %>
        <table style="width:750px">
		  <tr>
			<td colspan=2>
				<h4 style="font-weight:bold;border-bottom:1px dotted #000000; margin:0px"><%= t :'.data' %></h4>
			</td>
		  </tr>
          <tr>
            <td class="label" style="width:200px"><%= f.label :name, "#{t :'.name'}:"  %></td>
            <td>
            	<%= f.text_field :name, :class => 'text' %>
             	<%= f.error_message_on :name %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= f.label :email, "#{t :'.email'}:"  %></td>
            <td>
            	<%= f.text_field :email, :class => 'text' %>
             	<%= f.error_message_on :email %>
				<br/><%= t :'.email_info' %>
			</td>
          </tr>
		  <tr>
			<td colspan=2>
				<h4 style="font-weight:bold;border-bottom:1px dotted #000000; margin:1em 0 0.5em 0"><%= t :'.first_title' %></h4>
			</td>
		  </tr>
          <tr>
            <td class="label"><%= f.label :surname_1, "#{t :'.surname'}:"  %></td>
            <td>
              <%= f.text_field :surname_1, :class => 'text' %>
              <%= f.error_message_on :surname_1 %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= f.label :variatons_1, "#{t :'.variatons'}:"  %></td>
            <td>
              <%= f.text_field :variatons_1, :class => 'text' %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= f.label :region_1, "#{t :'.origin'}:"  %></td>
            <td>
              <%= f.text_field :region_1, :class => 'text' %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= f.label :description_1, "#{t :'.info'}: "  %></td>
            <td>
              <%= f.text_area :description_1, :class => 'text', :style => 'width:453px; height:100px' %>
            </td>
          </tr>
		  <tr>
			<td colspan=2>
				<h4 style="font-weight:bold;border-bottom:1px dotted #000000; margin:1em 0 0.5em 0"><%= t :'.second_title' %></h4>
			</td>
		  </tr>
          <tr>
            <td class="label"><%= f.label :surname_2, "#{t :'.surname'}:"  %></td>
            <td>
              <%= f.text_field :surname_2, :class => 'text' %>
              <%= f.error_message_on :surname_2 %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= f.label :variatons_2, "#{t :'.variatons'}:"  %></td>
            <td>
              <%= f.text_field :variatons_2, :class => 'text' %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= f.label :region_2, "#{t :'.origin'}:"  %></td>
            <td>
              <%= f.text_field :region_2, :class => 'text' %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= f.label :description_2, "#{t :'.info'}: "  %></td>
            <td>
              <%= f.text_area :description_2, :class => 'text', :style => 'width:453px; height:100px' %>
            </td>
          </tr>

		  <tr>
			<td colspan=2>
				<h4 style="font-weight:bold;border-bottom:1px dotted #000000; margin:1em 0 0.5em 0"><%= t :'.third_title' %></h4>
			</td>
		  </tr>

          <tr>
            <td class="label"><%= f.label :surname_3, "#{t :'.surname'}:"  %></td>
            <td>
              <%= f.text_field :surname_3, :class => 'text' %>
              <%= f.error_message_on :surname_3 %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= f.label :variatons_3, "#{t :'.variatons'}:"  %></td>
            <td>
              <%= f.text_field :variatons_3, :class => 'text' %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= f.label :region_3, "#{t :'.origin'}:"  %></td>
            <td>
              <%= f.text_field :region_3, :class => 'text' %>
            </td>
          </tr>
          <tr>
            <td class="label"><%= f.label :description_3, "#{t :'.info'}: "  %></td>
            <td>
              <%= f.text_area :description_3, :class => 'text', :style => 'width:453px; height:100px' %>
            </td>
          </tr>


        </table>
        <div class="buttons" style="margin-top:2em">
          <%= submit_tag t(:'client_searches.continue')%>
        </div>
      <% end %>
    </div>

  </div>
</div>